header {
  grid-area: header;
  display: grid;
  margin-bottom: 3em;
  width: 80vw;
  align-items: start;
  justify-items: start;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    

    input {
      width: 200px;
    }
  }

  button {
  }
}
