// colors
$mskcc-blue: #007cba;
$mskcc-orange: #df4602;
$mskcc-dark-blue: #006098;
$mskcc-medium-blue: #40b4e5;
$mskcc-light-blue: #8fc7e8;
$mskcc-dark-orange: #c24d00;
$mskcc-medium-orange: #f29934;
$mskcc-light-orange: #f6c65b;
$mskcc-dark-violet: #83276b;
$mskcc-light-violet: #b687b8;
$mskcc-dark-magenta: #e92076;
$mskcc-light-magenta: #efb3cb;
$mskcc-red: #b1132d;
$mskcc-dark-green: #4c8b2b;
$mskcc-light-green: #a6ce39;
$mskcc-dark-turquoise: #006c68;
$mskcc-light-turquoise: #009490;
$mskcc-dark-yellow: #ffc20e;
$mskcc-light-yellow: #ffe100;
$mskcc-dark-gray: #9e9e98;
$mskcc-light-gray: #d5d4c7;
$material-gray: #eceff1;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  font-size: 15px;
  // overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: grid;
  grid-template-areas:
    'mskcc-header'
    'content';
  // 'footer';
  justify-items: center;
  grid-row-gap: 4em;
}

// th {
//   background-color: $material-gray !important;
// }
.colHeader .optional {
  font-weight: 600;
  color: $mskcc-dark-green;
}

.colHeader .required {
  font-weight: 600;

  // font-weight: bold;
  // color: $mskcc-orange;
}

.swal-title {
  margin: 0px;
  font-size: 18px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

// .htColumnHeaders {
//   overflow: visible !important;
// }

.htDimmed {
  background-color: $material-gray !important;
}

.grid-action {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.grid-action-disabled {
  cursor: not-allowed;
}
.alert #swal2-content {
  text-align: left !important;
}

.handsontable.listbox tr td.current,
.handsontable.listbox tr:hover td {
  background: #8fc7e8 !important;
}

// .ht_master.handsontable {
//   overflow-y: scroll;
// }

.ht_master {
  overflow: unset;
}
.ht_master.wtHolder {
  // overflow-y: scroll;
  overflow: auto;
}

// .handsontableEditor.autocompleteEditor.htMacScroll.handsontable.listbox {
//   overflow: visible !important;
// }
